/* The first thing to do when working with color is to determine the site's color palette. */
/* Primary text color #757575 */
/* Titles color #212121 */
/* Dark background light text color #FFFFFF */
/* Primary accent color #2196F3 (logo, buttons, pseudo-buttons, hover, active, current page) */
/* Secondary accent color #F5F4FA (non active button background) */
/* Primary background color #FFFFFF */
/* Secondary background color #2F303A */

:root {
  --primary-text-clr: #757575;
  --sec-text-clr: #ffffff;
  --title-text-clr: #212121;
  --primary-accent-clr: #2196f3;
  --sec-accent-clr: #f5f4fa;
  --primary-bkg-clr: #ffffff;
  --sec-bkg-clr: #2f303a;
  --logo-sec-clr: #000000;
}

/* Global styles----------------------------------------------------- */
/* Body tag */
.page {
  font-family: Roboto, sans-serif;
  color: var(--primary-text-clr);
  letter-spacing: 0.03em;
  background-color: var(--primary-bkg-clr);
}

/* Reset list styles */
.list {
  list-style: none;
}

/* Reset link styles */
.link {
  text-decoration: none;
  font-style: normal;
}

/* General Logo styles */
.link.logo {
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--logo-sec-clr);
}

.link.logo .accent {
  color: var(--primary-accent-clr);
}

/* General Button styles */
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
}

.button.primary {
  color: var(--primary-bkg-clr);
  background-color: var(--primary-accent-clr);
}

.button.secondary {
  color: var(--title-text-clr);
  background-color: var(--sec-accent-clr);
}

/* Header ----------------------------------------------------------- */

/* Header Site navigation styles */

/* Header site navigation Logo  */
/* No effects now, ?will be changed? */
.site-nav .link.logo:hover,
.site-nav .link.logo:focus {
  color: var(--logo-sec-clr);
}

/* Header Site navigation link */
.site-nav .link.page-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-clr);
}
/* No effects now, ?will be changed? */
.site-nav .link.page-nav:hover,
.site-nav .link.page-nav:focus {
  color: var(--primary-accent-clr);
}

/* Header Site navigation link Current page */
.site-nav .link.page-nav.current {
  color: var(--primary-accent-clr);
}
/* No effects now, ?will be changed? */
.site-nav .link.page-nav.current:hover,
.site-nav .link.page-nav.current:focus {
  color: var(--primary-accent-clr);
}

/* Header Contacts styles */
.header .contact-list .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-clr);
}
.header .contact-list .link:hover {
  color: var(--primary-accent-clr);
}

/* Main ------------------------------------------------------------- */

/* Main General Sections Title */
.main .section > .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-clr);
}

/* Main Hero */

.main .hero {
  /* Temporary color to see white heading text, will be changed */
  background-color: var(--sec-bkg-clr);
}
/* Main Hero Title */
.main .hero .hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--sec-text-clr);
}
/* Main Hero button */
.main .hero .button.primary {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--sec-text-clr);
}

/* Main Feature list */

/* Main Feature list Title */
.main .section.features .features-list .title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-clr);
}
/* Main Feature list description */
.main .section.features .features-list .description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

/* Main Webstudio work examples list */

/* Main Webstudio work examples Title */
.main .section.work-examples .title {
  text-decoration: line-through;
}

/* Main Team */

/* Main Team Team list Title */
.main .section.team .team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-clr);
}
/* Main Team Team list Description */
.main .section.team .team-list .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
}

/* Footer ------------------------------------------------------------*/

.footer {
  background-color: var(--sec-bkg-clr);
}
/* Footer Contacts */
.footer .contacts .link.contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
/* Footer WebStudio Location */
.footer .contacts .link.gmaps {
  color: var(--sec-text-clr);
}
/* Footer Logo change color because of dark background*/
.footer .link.logo {
  color: var(--sec-text-clr);
}
/* No effects now, ?will be changed? */
.footer .link.logo:hover,
.footer .link.logo:focus {
  color: var(--sec-text-clr);
}

/* ------------------------------------------------------------------- */
/* portfolio.html css */
/* ------------------------------------------------------------------- */

/* Main--------------------------------------------------------------- */

/* Main Projects */
.main .section.projects > .title {
  text-decoration: line-through;
}

.main .section.projects .projects-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-clr);
}
.main .section.projects .projects-list .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-clr);
}
